<article>
  <h3><%= first_two_words_of product.name %></h3>
  <p><%= product.article_number %></p>
  <div class="content">
    <%= image_tag product.image %>
  </div>
  <span id="price"> <%= to_russian_currency(product.price)%></span>
  <%= link_to 'Подробнее', product %>
</article>